

.galEnd {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.galEndImg {
    height: 14rem;
}

.end-warning {
    position: relative;
    top: 4rem;
    left: 26rem;
    width: 18rem;
}

.nextBtnEnd {
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .end-warning {
        left: 18rem;
    }
}
@media (max-width: 1600px) {
    .galEnd {
        bottom: 0rem;
    }
}
@media (max-width: 1400px) {
    .galEnd {
        top: 4rem;
    }
}
.end-gal{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
    padding-top: 10px;
    gap: 40px;
}